/* Navbar.css */
.navbar {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #007bff !important; /* Bootstrap Primary Color */
  }
  
  .nav-link {
    font-weight: 600;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #007bff !important;
  }
  