.location-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }

  .location-btn:hover {
    background-color: #333;
  }


  .mt-5 {
    margin-top: 10rem !important; /* Fix overlap with navbar */
  }

  .title-text {
    font-size: 28px;
    font-weight: 700;
  }
  
  .brand-card {
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 10px;
  }
  
  .brand-image {
    height: 80px;
    object-fit: contain;
    margin: 10px auto;
    padding: 0 20px;
  }
  
  .discount-badge {
    background-color: #007bff;
    color: white;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 999px;
    display: inline-block;
    margin-bottom: 8px;
  }
  
  .location-tag {
    background-color: black;
    color: white;
    padding: 6px 16px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 8px;
    display: inline-block;
  }
  
  .visit-btn {
    border-radius: 10px;
    margin-top: 5px;    
  }